<div class="board-element">
	@if (board.isLoading()) {
	<div class="loading">Loading...</div>
	} @else if (board.error()) {
	<div class="error">Error loading board</div>
	} @else {
	@if (board.value(); as board) {
	<h2 class="board-name">Name: {{board.name}}</h2>
	<app-column-list [columnList]="board.columns" [projectId]="projectId" [boardId]="boardId" (columnListEdited)="onColumnListEdited()">
	</app-column-list>
	}
	}
	<button type="button" [routerLink]="['/projects', projectId]">Go back</button>
</div>