:host {
	display: flex;
	flex: 1;
	flex-direction: column;
	gap: 16px;
}

.cdk-drop-list {
	display: flex;
	gap: 16px;
	overflow-x: auto;
}

.column-element-list {
	display: flex;
	gap: 16px;
}

.column-list-empty {
	padding: 32px;
	text-align: center;
	border: 2px dashed var(--white-tertiary);
	border-radius: 10px;
	color: var(--gray-secondary);
}

.empty-icon {
	font-size: 28px;
	margin-bottom: 8px;
}

.empty-title {
	font-weight: 600;
	margin-bottom: 4px;
}

.add-column-button {
	width: fit-content;
}

.task-filters {
	display: flex;
	align-items: flex-start;
	align-items: center;
	gap: 16px;
	padding: 5px;

}

.filter {
	display: flex;
	align-items: center;
	gap: 6px;
	min-width: 100px;
}

.filter-label {
	font-size: 12px;
	font-weight: 600;
	color: var(--black-tertiary);
}

.filter-element {
	padding: 4px;
	border: 1px solid var(--white-tertiary);
	border-radius: 4px;
	background: var(--white-primary);
	color: var(--black-primary);
}

.filter-element:focus {
	outline: none;
	border-color: var(--purple-tertiary);;
	box-shadow: 0 0 0 3px rgba(99, 102, 241, 0.12);
}

.btn {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 8px;
	border-radius: 6px;
	text-decoration: none;
	cursor: pointer;
}

.btn-secondary {
	border: 1px solid var(--white-tertiary);
	background: var(--white-primary);
	color: var(--black-tertiary);
}

.btn-secondary:hover {
	border: 1px solid var(--white-primary);
	background: var(--black-tertiary);
	color: var(--white-primary);
}

.error {
	color: var(--red-secondary);
	font-size: 12px;
}