@if (taskList(); as taskList){
<div cdkDropList [cdkDropListData]="taskList" (cdkDropListDropped)="onMoveTask($event)"
	[cdkDropListEnterPredicate]="enabledDragAndDropPredicate" [cdkDropListSortingDisabled]="filtersActive()">
	<div class="task-element-list">
		@for (task of taskList; track task.id; let i = $index) {
		<div cdkDrag [cdkDragData]="{ type: 'task', task: task }">
			<div class="task-custom-placeholder" *cdkDragPlaceholder></div>
			<app-task-element [task]="task" [projectId]="projectId()" [boardId]="boardId()" [columnId]="columnId()"
				[memberList]="memberList()" [hasAdminPermissions]="hasAdminPermissions()"
				(taskDeleted)="taskListEdited.emit()" (taskCommentsEdited)="taskListEdited.emit()"
				(taskAssigneeEdited)="taskListEdited.emit()">
			</app-task-element>
		</div>
		}
		
		<div class="task-list-empty">
			<div class="empty-icon">📋</div>
			<div class="empty-title">No tasks yet!</div>
		</div>
	</div>
</div>
}


@if (error()) {
<div class="error">
	{{ error() }}
</div>
}