@if (taskList(); as taskList){
<div class="task-list" cdkDropList [cdkDropListData]="taskList" (cdkDropListDropped)="onMoveTask($event)"
	[cdkDropListEnterPredicate]="enabledDragAndDropPredicate" [cdkDropListSortingDisabled]="filtersActive()">
	<div class="task-element-list">
		@for (task of taskList; track task.id; let i = $index) {
		<div cdkDrag [cdkDragData]="{ type: 'task', task: task }">
			<app-task-element [task]="task" [projectId]="projectId()" [boardId]="boardId()" [columnId]="columnId()"
				[memberList]="memberList()" (taskDeleted)="taskListEdited.emit()"
				(taskCommentsEdited)="taskListEdited.emit()" (taskAssigneeEdited)="taskListEdited.emit()">
			</app-task-element>
		</div>
		} @empty {
		<div class="task-list-empty">
			<div class="empty-icon">📋</div>
			<div class="empty-title">No tasks yet!</div>
		</div>
		}
	</div>
	
	<button class="add-task-button"
		[routerLink]="['/projects', projectId(), 'boards', boardId(), 'columns', columnId(), 'tasks', 'create']">
		Add task
	</button>

	@if (error()) {
	<div class="error">
		{{ error() }}
	</div>
	}
</div>
}