<div class="task-update-form-card">
	<div class="task-update-form-header">
		<div class="header-icon">✓</div>
		<div>
			<h1 class="header">Update task</h1>
			<p class="subtext">Edit task in board.</p>
		</div>
	</div>
	<div class="divider"></div>
	<form class="task-update-form" (submit)="onSubmit($event)">
		<div class="form-grid">
			<div class="form-group">
				<label class="form-label" for="title">
					Title
					<div class="required">*</div>
				</label>
				<input id="title" class="form-input" type="text" placeholder="e.g. Implement authentication"
					[formField]="taskForm.title" />

				@if (taskForm.title().invalid() && taskForm.title().touched()) {
				<div class="field-error">
					@for (error of taskForm.title().errors(); track error.kind) {
					<div> {{ error.message }} </div>
					}
				</div>
				}
			</div>

			<div class="form-group">
				<label class="form-label" for="description">
					Description
					<div class="optional"> Optional </div>
				</label>
				<textarea id="description" class="form-input form-textarea"
					placeholder="Describe what needs to be done..." [formField]="taskForm.description">
				</textarea>
				<div class="field-hint">
					Edit any details that will help explain the task.
				</div>
			</div>

			@if (error()) {
			<div class="server-error">
				<div class="server-error-icon">!</div>
				<div>
					{{ error() }}
				</div>
			</div>
			}

			<div class="form-actions">
				<button class="btn btn-secondary" type="button" (click)="onCancel()">
					Cancel
				</button>
				<button class="btn btn-primary" type="submit" [disabled]="taskForm().invalid()">
					<div>Update task</div>
					<div class="btn-arrow">→</div>
				</button>
			</div>
		</div>
	</form>
</div>