<div class="task-element">
	@if (task(); as task) {
	<div class="task-title">{{task.title}}</div>
	@if (task.description) {
	<div class="task-description">{{task.description}}</div>
	}
	<div class="task-move-buttons">
		<button type="button" [disabled]="isFirst()" (click)="moveUp.emit(task.id)">Move up</button>
		<button type="button" [disabled]="isLast()" (click)="moveDown.emit(task.id)">Move down</button>
	</div>
	<div class="column-buttons">
		<button
			[routerLink]="['/projects', projectId(), 'boards', boardId(), 'columns', columnId(), 'tasks', task.id, 'edit']">Edit</button>
		<button type="button" (click)="onTaskDeleted(task.id)">Delete</button>
	</div>
	<div class="error"> {{ error() }}</div>
	}
</div>