:host {
	display: flex;
	flex: 1;
	flex-direction: column;
	gap: 16px;
	padding: 16px;
	min-width: 150px;
	border: 1px solid var(--white-tertiary);
	border-radius: 8px;
	background: var(--white-primary);
}

.task-header {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	gap: 16px;
}

.task-title {
	margin: 0;
}

.task-description {
	color: var(--gray-secondary);
}

.task-actions {
	display: flex;
	align-self: flex-end;
	gap: 8px;
}

.assignee-actions {
	display: flex;
	gap: 8px;
}

.task-assignee {
	display: flex;
	flex-direction: column;
	gap: 8px;
	padding: 12px;
	border-radius: 6px;
	background: var(--white-secondary);
}

.task-section-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.assignee-form {
	display: flex;
	align-items: center;
	gap: 8px;
}

.task-assignee-value {
	padding: 6px;
}

.task-comments {
	margin-top: 8px;
}

.task-handle {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 2px;
	border: none;
	border-radius: 6px;
	background: transparent;
	color: var(--gray-primary);
	cursor: grab;
	border-radius: 2px;
	transition: .15s;
}

.task-handle:hover {
	background: var(--white-primary);
	color: var(--gray-tertiary);
}

.task-handle:active {
	cursor: grabbing;
}

.btn {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 8px;
	border-radius: 6px;
	text-decoration: none;
	cursor: pointer;
}

.btn-secondary {
	border: 1px solid var(--white-tertiary);
	background: var(--white-primary);
	color: var(--black-tertiary);
}

.btn-secondary:hover {
	border: 1px solid var(--white-primary);
	background: var(--black-tertiary);
	color: var(--white-primary);
}

.btn-danger {
	border: 1px solid var(--red-tertiary);
	background: var(--white-primary);
	color: var(--red-secondary);
}

.btn-danger:hover {
	border: 1px solid var(--white-primary);
	background: var(--red-secondary);
	color: var(--white-primary);
}

.error {
	color: var(--red-secondary);
}