<div class="project-element">
	@if (project.isLoading()) {
	<div class="loading">Loading...</div>
	} @else if (project.error()) {
	<div class="error">Error loading project</div>
	} @else {
	@if (project.value(); as project) {
	<h2 class="project-name">Name: {{project.name}}</h2>
	<div class="project-key">Key: {{project.key}}</div>
	@if (project.description) { <div class="project-description">Description: {{project.description}}</div> }
	<app-board-list [projectId]="project.id"></app-board-list>
	<app-member-list [projectId]="project.id" [memberList]="project.members" (memberAdded)="onMemberAdded()"
		(memberRemoved)="onMemberRemoved()"></app-member-list>
	}
	}
	<button routerLink="/projects">Go back</button>
</div>