@if (member(); as member) {
<div class="member-info">
	<div class="member-avatar">
		@if (member.user.avatarUrl) {
		<img [src]="member.user.avatarUrl" [alt]="member.user.username" />
		} @else {
		<div>
			{{ member.user.username.charAt(0).toUpperCase() }}
		</div>
		}
	</div>

	<div class="member-details">
		<div class="member-name">
			{{ member.user.username }}
		</div>

		<div class="member-role" [class.admin]="member.role === 'ADMIN'">
			{{ member.role }}
		</div>
	</div>
</div>

@if (hasAdminPermissions()) {
<button class="danger" type="button" (click)="onRemoveMember(member.user.id)">
	Remove
</button>
}

@if (error()) {
<div class="error">
	{{ error() }}
</div>
}
}