<div class="comment-header">
	<div class="comment-heading">
		<svg class="comment-icon" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path
				d="M5 5.5C5 4.67157 5.67157 4 6.5 4H17.5C18.3284 4 19 4.67157 19 5.5V14.5C19 15.3284 18.3284 16 17.5 16H10L6 19V16.5C5.44772 16.5 5 16.0523 5 15.5V5.5Z"
				stroke="currentColor" stroke-width="1.8" stroke-linejoin="round" />
			<path d="M8 8H16" stroke="currentColor" stroke-width="1.8" stroke-linecap="round" />
			<path d="M8 11H13" stroke="currentColor" stroke-width="1.8" stroke-linecap="round" />
		</svg>

		<h3 class="comment-title">
			Comments
		</h3>
	</div>

	@if (!addCommentFormEnabled()) {
	<button class="primary add-comment-button" type="button" (click)="onEnableAddComment()">
		<div>Add comment</div>
		<div>+</div>
	</button>
	}
</div>

<div class="comment-element-list">
	@for (comment of commentList(); track comment.id; let i = $index) {
	<app-comment-element [comment]="comment" [hasAdminPermissions]="hasAdminPermissions()"
		(commentEdited)="commentListEdited.emit()" (commentDeleted)="commentListEdited.emit()">
	</app-comment-element>
	} @empty {
	@if (!addCommentFormEnabled()) {
	<div class="comment-list-empty">
		<svg class="empty-icon" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path
				d="M5 5.5C5 4.67157 5.67157 4 6.5 4H17.5C18.3284 4 19 4.67157 19 5.5V14.5C19 15.3284 18.3284 16 17.5 16H10L6 19V16.5C5.44772 16.5 5 16.0523 5 15.5V5.5Z"
				stroke="currentColor" stroke-width="1.8" stroke-linejoin="round" />
			<path d="M8 8H16" stroke="currentColor" stroke-width="1.8" stroke-linecap="round" />
			<path d="M8 11H13" stroke="currentColor" stroke-width="1.8" stroke-linecap="round" />
		</svg>

		<div>
			No comments yet
		</div>
	</div>
	}
	}
</div>

@if (addCommentFormEnabled()) {
<app-comment-form [taskId]="taskId()" (commentAdded)="onCommentAdded()" (canceledCommentAdd)="onCancelAddComment()">
</app-comment-form>
}