<form class="member-form" (submit)="(onSubmit($event))">
	<div class="form-grid">
		<div class="form-group">
			<label class="form-label" for="user">
				User
				<span class="required">*</span>
			</label>

			<div class="form-input-and-actions">
				<select id="user" class="form-input" [formField]="memberForm.userId">
					<option value="">Select a user</option>

					@for (user of possibleUsers(); track user.id) {
					<option [value]="user.id">
						{{ user.username }}
					</option>
					}
				</select>
				<div class="form-actions">
					<button class="btn btn-secondary" type="button" (click)="onCancel()">
						Cancel
					</button>

					<button class="btn btn-primary" type="submit" [disabled]="memberForm().invalid()">
						Add member
						<span class="btn-arrow">→</span>
					</button>
				</div>
			</div>


			@if (memberForm.userId().invalid() && memberForm.userId().touched()) {
			<div class="field-error">
				@for (error of memberForm.userId().errors(); track error.kind) {
				<div>{{ error.message }}</div>
				}
			</div>
			}
		</div>

		@if (error()) {
		<div class="server-error">
			<div class="server-error-icon">!</div>
			<div>{{ error() }}</div>
		</div>
		}
	</div>
</form>