<div class="member-list-header">
	<h2 class="member-list-title">Members</h2>

	@if (!addMemberFormEnabled()) {
	<button class="btn btn-primary" type="button" (click)="onEnableAddMember()">
		Add member
		<span class="btn-arrow">→</span>
	</button>
	}
</div>

@if (addMemberFormEnabled()) {

<app-member-form [projectId]="projectId()" [memberList]="memberList()" (memberAdded)="onMemberAdded()"
	(canceledMemberAdd)="onCancelAddMember()">
</app-member-form>

} @else {

<div class="member-element-list">
	@for (member of memberList(); track member.id) {
	<app-member-element [projectId]="projectId()" [member]="member" (memberRemoved)="onMemberRemoved()">
	</app-member-element>
	} @empty {
	<div class="member-list-empty">
		<div class="empty-icon">♙</div>
		<div class="empty-title">No members yet</div>
		<div class="empty-text">
			Add members to this project.
		</div>
	</div>
	}
</div>
}