:host {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 24px;
	padding: 18px;
	background: var(--white-primary);
	border: 1px solid var(--white-secondary);
	border-radius: 8px;
}

.project-key {
	margin-bottom: 4px;

	font-size: 12px;
	font-weight: 600;
	color: var(--gray-secondary);
	text-transform: uppercase;
}

.project-name {
	margin: 0;

	font-size: 16px;
	font-weight: 600;
	color: var(--black-primary);
}

.project-description {
	font-size: 12px;
	color: var(--gray-secondary);
	text-overflow: ellipsis;
	white-space: nowrap;
}

.project-actions {
	display: flex;
	align-items: center;
	gap: 8px;
	flex-shrink: 0;
}

.btn {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 12px;
	border: 1px solid transparent;
	border-radius: 6px;
	font: inherit;
	font-size: 12px;
	font-weight: 600;
	text-decoration: none;
	cursor: pointer;
}

.btn-primary {
	background: var(--purple-primary);
	color: var(--white-primary);
}

.btn-primary:hover {
	background: var(--purple-primary);
}

.btn-secondary {
	border-color: var(--white-tertiary);
	background: var(--white-primary);
	color: var(--black-tertiary);
}

.btn-secondary:hover {
	background: var(--white-primary);
}

.btn-danger {
	border-color: var(--red-tertiary);
	background: var(--white-primary);
	color: var(--red-secondary);
}

.btn-danger:hover {
	background: var(--white-primary);
}

.error {
	margin-top: 10px;
	color: var(--red-secondary);
	font-size: 12px;
}