<div class="board-list">
	<h2 class="board-list-title">Boards</h2>
	@if (boardList.isLoading()) {
	<div class="loading">Loading...</div>
	} @else if (boardList.error()) {
	<div class="error">Error loading boards</div>
	} @else {
	@for (board of boardList.value(); track board.id) {
	<app-board-element [projectId]="projectId()" [board]="board" (boardDeleted)="onDeleteBoard()"> </app-board-element>
	} @empty {
	<div class="board-list-empty">
		No boards yet.
	</div>
	}
	}
	<button type="button" [routerLink]="['/projects', projectId(), 'boards', 'create']">
		Create new board
	</button>
</div>